*{
    margin: 0;
    top: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.card{
    width: 90%;
    max-width: 750px;
    background: linear-gradient(135deg, lemonchiffon, lightskyblue, lightsteelblue);
    color: black;
    border-radius: 0.5rem;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: none;
    height: 60px;
    border-radius: 30px;
    color: black;
    flex: 1;
    margin-right: 20px;
    padding: 10px 25px;
    cursor: pointer;
}
.search input:focus{
    outline: none;
}
.search button{
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
}
.search button img{
    width: 30px;
}
.weather{
    display: none;
}
.weather-icon{
    width: 200px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
}
.weather h2{
    font-size: 45px;
}
.weather h3{
    font-size: 45px;
}
.detail{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 70px;
}
.col p{
    padding-left: 20px;
    font-size: 30px;
}
.label1{
    font-size: 25px;
}
.error{
    font-size: 30px;
    margin-top: 20px;
    display: none;
}